version: '3.9'

services:
  backend: &backend
    build: ./backend
    restart: always
    ports:
      - "84:84"
    networks:
      - tel-network

  frontend: &frontend
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    networks:
      - tel-network
    depends_on:
      - backend
  # ubuntu: &ubuntu 
  #   image: ubuntu:24.04
  #   restart: always
  #   networks:
  #     - tel-network
  #   command: tail -f /dev/null
  
networks:
    tel-network:
        driver: bridge