.content {
    display: flex;
    min-height: 645px;
    grid-gap: 20px;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.left {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 360px;
}

.bubble {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    max-width: calc(100% - 380px);
    min-height: 300px;
}

.left,
.right {
    @media (max-width: 1200px) {
        width: auto;
        max-width: none;
        flex: 1 1 auto;
    }
}

.rightBottom,
.rightTop,
.rightTopItems {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: var(--item-bg);
    padding: 30px 35px;
    border-radius: 30px;
    flex: 1 1 auto;
    max-height: 220px;
    grid-gap: 30px;

    @media (max-width: 768px) {
        grid-gap: 20px;
        border-radius: 15px;
    }
}

.rightTop {
    background: var(--greyColor);
    max-height: 265px;
}

.rightTop,
.rightBottom {
    @media (max-width: 1550px) {
        justify-content: center;
        max-height: none;
    }
}

.middleText {
    max-width: 780px;
    padding-left: 35px;
}

.rightImg {
    position: absolute;
    right: 30px;
    bottom: -170px;

    @media (max-width: 1550px) {
        right: 20px;
        bottom: -100px;
        max-width: 200px;
    }

    @media (max-width: 1200px) {
        right: 20px;
        bottom: -80px;
        max-width: 150px;
    }

    @media (max-width: 768px) {
        right: 0;
        bottom: -60px;
        max-width: 120px;
    }

    @media (max-width: 576px) {
        right: 0;
        bottom: -40px;
        max-width: 100px;
    }
}

.dragItem {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkColor);
    min-width: 240px;
    cursor: grab;
    height: 65px;
}

.dragTopItem {
    position: relative;
    height: 100%;
    max-height: 65px;
    height: 65px;

    &:nth-child(4n),
    &:nth-child(5) {
        &:before {
            width: 100%;
        }
    }

    //&:before {
    //    content: "";
    //    position: absolute;
    //    bottom: -10px;
    //    left: 0;
    //    height: 2px;
    //    width: calc(100% + 30px);
    //    background: var(--linkColor);
    //}
}

.lines {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-height: 220px;
    height: 100%;
    position: absolute;

    @media (max-width: 1550px) {
        justify-content: center;
        max-height: none;
    }
}

.line {
    height: 3px;
    min-width: 263px;
    background: var(--linkColor);
    border: none;
    margin-top: 50px;

    @media (max-width: 1550px) {
        margin-top: 65px;
    }
}

.rightTopItems {
    background: none;
    padding: 0;
    position: relative;
    z-index: 1;

    @media (max-width: 1550px) {
        justify-content: center;
    }
}