{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TatLearn</title>
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <script src="https://kit.fontawesome.com/7d0ca4e7f5.js" crossorigin="anonymous"></script>
</head>

<body class="for-auth">
<nav class="main-nav" id="main-nav">
    <div class="main-nav__container container">
        <a href="/static" class="main-nav__logo">TatLearn</a>
        {% if request.path == '/' %}
            <div class="main-nav-link-block">
                <a href="{% url 'auth' %}" class="main-nav-link">вход</a>
            </div>
        {% endif %}
    </div>
</nav>
<div class="auth" id="auth">
    <div class="auth-window" id="auth-window">
        <div class="choose-method">
            <button id="enter" class="method-btn method-btn-active">
                вход
            </button>
            <button id="register" class="method-btn">
                регистрация
            </button>
        </div>
            <div class="login input-block">
                <p class="input-hint">логин</p>
                <input class="main-input" type="text" id="login">
            </div>
            <div class="password input-block">
                <p class="input-hint">пароль</p>
                <input class="main-input" type="text" id="first_pas">
            </div>
        <div class="confirm-password input-block" id="confirm-password">
            <p class="input-hint">повторите пароль</p>
            <input class="main-input" type="text" id="sec_pas">
        </div>
        <button class="submit-btn" id="submit-btn">вход</button>
    </div>
</div>
<script src="{% static 'js/request.js' %}"></script>
<script>
const learn_navigations_url = 'http://185.149.243.13/study/learn_navigations';
const profile_url = 'http://185.149.243.13/study/profile';

window.onload = () => {
    var action = 'вход';

    const enterBtn = document.getElementById("enter");
    const registerBtn = document.getElementById("register");
    const confirm = document.getElementById("confirm-password");
    const submitBtn = document.getElementById("submit-btn");

    enterBtn.addEventListener("click", () => {
        registerBtn.classList.remove("method-btn-active");
        enterBtn.classList.add("method-btn-active");
        confirm.style.display = "none";
        submitBtn.textContent = "вход";
        action = 'вход';
    });
    registerBtn.addEventListener("click", () => {
        enterBtn.classList.remove("method-btn-active");
        registerBtn.classList.add("method-btn-active");
        confirm.style.display = "block";
        submitBtn.textContent = "регистрация";
        action = 'регистрация';
    });

    submitBtn.addEventListener("click", sendForm);

    function sendForm() {
        var username = document.getElementById('login').value;
        var firstPas = document.getElementById('first_pas').value;
        var secPas = document.getElementById('sec_pas').value;
        var data = {};

        data['username'] = username;
        data['password'] = firstPas;

        if (action == 'вход') {
            data['action'] = 'entry';
            const url = "{% url 'auth' %}";
            const csrftoken = '{{ csrf_token }}';
            request(url, data, csrftoken);
            setTimeout(() => window.open(learn_navigations_url, '_self', false), 1000);
        } else {
            data['action'] = 'register';
            if (firstPas != secPas) {
                alert('Пароли не совпадают')
            }
            const url = "{% url 'auth' %}";
            const csrftoken = '{{ csrf_token }}';
            request(url, data, csrftoken);
            setTimeout(() => window.open(profile_url, '_self', false), 1000);
        }
    }
};
</script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</body>

</html>
