{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TatLearn</title>
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/7d0ca4e7f5.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="main-nav" id="main-nav">
    <div class="main-nav__container container">
        <a href="/static" class="main-nav__logo">TatLearn</a>
        {% if request.path == '/' %}
            <div class="main-nav-link-block">
                <a href="{% url 'auth' %}" class="main-nav-link">вход</a>
            </div>
        {% endif %}
    </div>
</nav>
{% block content %}
    <header class="header" id="header">
        <div class="header__container container">
            <h1 class="header-heading">
                <span>изучение татарского</span>
                <span>вместе с TatLearn</span>
            </h1>
        </div>
    </header>

    <div class="wrapper">
        <section class="page-section">
            <div class="about">
                <div class="about__container container">
                    <h2 class="about-heading">TatLearn - портал для интерактивного изучения татарского языка с
                        использованием методов геймификации</h2>
                    <div class="about-blocks">
                        {% for content in contents %}
                            <div class="about-block">
                                <h3>{{ content.title }}</h3>
                                <p>{{ content.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="team">
                <div class="team__container container">
                    <h2>команда</h2>
                    <div class="team-members">
                        {% for developer in developers %}
                            <div class="team-member">
                                <img src="{{ developer.image.url }}" alt="">
                                <p class="team-member-name">{{ developer.get_full_name }}</p>
                                <p class="team-member-activity">{{ developer.position }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
<footer class="footer" id="footer">
    <div class="footer__container container">
        <p class="footer-copyright">copyright internationaldudes {{ year }}</p>
        <p class="footer-contacts">contact us:<br/>{{ phone }}/{{ email }}</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</body>

</html>