[Unit]
Description=Gunicorn Daemon for dialogue
After=network.target


[Service]
User=USER
WorkingDirectory=/home/USER/tatarby/neiro
ExecStart=/home/USER/tatarby/venv/bin/python app.py


[Install]
WantedBy=multi-user.target