[Unit]
Description=Gunicorn Daemon for dialogue
After=network.target


[Service]
User=USER
WorkingDirectory=/home/USER/tel/backend
ExecStart=/bin/bash -c "source venv/bin/activate && uvicorn api.app:app"
Restart=always


[Install]
WantedBy=multi-user.target