[Unit]
Description=Gunicorn Daemon for dialogue
After=network.target


[Service]
User=USER
WorkingDirectory=/home/USER/tatarby/neiro
ExecStart=/home/USER/tatarby/venv/bin/gunicorn -c /home/USER/tatarby/neiro/gunicorn_conf.py app:app


[Install]
WantedBy=multi-user.target