[Unit]
Description=dialog
After=network.target

[Service]
ExecStart=/home/gumaonelove/tatarby/venv/bin/python dialo.py
ExecReload=/home/gumaonelove/tatarby/venv/bin/python dialo.py
WorkingDirectory=/home/gumaonelove/tatarby/neiro/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target