[Unit]
Description=front
After=network.target

[Service]
WorkingDirectory=/home/USER/tatarby/frontend
ExecStart=npm run start
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target