server {
    listen 80;
    server_name 194.58.107.180;
    return 301 https://kpnu-tatem.ru$request_uri;
}

server {
    listen 80;
    server_name tatlearn.ru;
    client_max_body_size 50M;

    location /static/ {
        root /home/gumaonelove/tatarby;
        expires 30d;
    }

    location /media/ {
        root /home/gumaonelove/tatarby;
        expires 30d;
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}