[Unit]
Description=speak to text
After=network.target

[Service]
ExecStart=/home/gumaonelove/KazanExpress_TgBot/venv/bin/python stt.py
ExecReload=/home/gumaonelove/KazanExpress_TgBot/venv/bin/python stt.py
WorkingDirectory=/home/gumaonelove/KazanExpress_TgBot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target