[Unit]
Description=text to speak
After=network.target

[Service]
ExecStart=/home/gumaonelove/tatarby/venv/bin/python tts.py
ExecReload=/home/gumaonelove/tatarby/venv/bin/python tts.py
WorkingDirectory=/home/gumaonelove/tatarby/neiro/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target