.content {
    display: flex;
    min-height: 645px;
    grid-gap: 20px;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.left {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 360px;
}

.bubble {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    max-width: calc(100% - 380px);
    min-height: 300px;
}

.left,
.right {
    @media (max-width: 1200px) {
        width: auto;
        max-width: none;
        flex: 1 1 auto;
    }
}

.rightBottom,
.rightTop {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: var(--item-bg);
    padding: 30px 35px;
    border-radius: 30px;
    flex: 1 1 auto;
    max-height: 220px;
    grid-gap: 40px;

    @media (max-width: 768px) {
        grid-gap: 20px;
        border-radius: 15px;
    }
}

.rightTop {
    align-items: center;
    background: var(--greyColor);
    max-height: none;
}

.rightBottom {
    align-items: center;
    justify-content: center;
    max-height: none;
}

.middleText {
    max-width: 780px;
    padding-left: 35px;
}

.rightImg {
    position: absolute;
    right: 30px;
    bottom: -170px;

    @media (max-width: 1200px) {
        right: 20px;
        bottom: -80px;
        max-width: 200px;
    }

    @media (max-width: 768px) {
        right: 0;
        bottom: -40px;
        max-width: 150px;
    }

    @media (max-width: 576px) {
        right: 0;
        bottom: -40px;
        max-width: 100px;
    }
}

.topText {
    max-width: 75%;

    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.button {
    width: 360px;
    max-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;



    i {
        margin-right: 20px;
    }
}

.audioBubble {
    width: 400px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.playBtn {
    padding: 28px;
}