.white {
    background-color: var(--white);
}
.purple {
    background-color: var(--purpleColor);
}
.pink {
    background-color: var(--pinkColor);
}
.blue {
    background-color: var(--linkColor);
}