::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(206, 217, 230, 1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(190, 201, 214, 1);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
}

figure,
figcaption {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "SFPro", sans-serif;
    background: $white;
    color: $lightColor;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: $maxWidth;
    margin: 0 auto;
    @media (max-width: 1550px) {
        padding: 0 50px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 20px;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 10px;
    }
}

.item {
    background: #F2F2F2;
    border-radius: 30px;
    position: relative;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &.text-blue {
        .item-link {
            color: $linkColor;
        }
    }
    &-big {
        min-height: 360px;
        .item-text {
            max-width: 50%;
        }
    }
    &-text {
        padding: 17px;
    }
    &-title {
        font-size: 36px;
        line-height: 43px;
        font-weight: 900;
    }
    &-subtitle {
        margin-top: 30px;
        font-size: 24px;
        line-height: 29px;
        color: $darkColor;
    }
    &-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-link {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        color: $lightColor;
        transition: opacity 0.2s ease-in-out;
        i {
            margin-right: 15px;
        }
        &:hover {
            transition: opacity 0.2s ease-in-out;
            color: inherit;
            opacity: .7;
        }
    }
    &-img {
        mix-blend-mode: multiply;
        position: absolute;
        height: 100%;
        bottom: 0;
        right: 0;
        border-radius: 30px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    &-name {
        font-size: 20px;
        line-height: 24px;
    }
    &-live {
        margin: 30px 0;
        font-size: 32px;
        line-height: 38px;
        font-weight: 900;
    }
    &-soon {
        font-size: 20px;
        line-height: 24px;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text {
    &-blue {
        color: $linkColor;
    }
    &-white {
        color: $lightColor;
    }
}

.bg {
    &-white {
        background-color: $white;
    }
    &-purple {
        background-color: $purpleColor;
    }
    &-pink {
        background-color: $pinkColor;
    }
    &-blue {
        background-color: $blueColor;
    }
}

.form-input {
    padding: 20px 120px 20px 40px;
    background: $white;
    border: 3px solid $greyColor;
    border-radius: 15px;
    color: rgba(8, 8, 8, 0.5);
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
    outline: none;
    width: 100%;
    @media only screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 80px 20px 20px;
    }
    @media only screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 50px 15px 15px;
    }
    &.disabled {
        opacity: .4;
        cursor: default;
    }
}

i {
    &.disabled {
        opacity: .5;
    }
}
