$maxWidth: 1500px;

$white: #FFFFFF;
$lightColor: #F7F7F9;
$black: #000000;
$darkColor: #080808;
$linkColor: #007AFF;
$pinkColor: #FF2D55;
$purpleColor: #612BCF;
$greyColor: #DAE5F2;
$blueColor: #0000FF;