.Button {
    background: var(--green-light);
    border-radius: 30px;
    border: none;
    font: var(--font-l);
    font-weight: var(--font-bold);
    color: var(--white);
    cursor: pointer;
    padding: 30px 40px;
    outline: none;
    transition: opacity 0.2s ease-in-out;

    @media (max-width: 768px) {
        border-radius: 15px;
        padding: 20px 30px;
    }

    &:hover {
        opacity: 0.6;
        transition: opacity 0.2s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

.left {
    border-bottom-left-radius: 0;
}

.right {
    border-bottom-right-radius: 0;
}

.dark {
    background: var(--darkColor);
}

.light {
    background: var(--white);
}

.blue {
    background: var(--linkColor);
}

.round {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}