{% extends 'learn.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="wrapper learn-section learn-section-audition">
        <div class="crumbs">
            <div class="crumbs__container container">
                <a href="{% url 'learn_navigations' %}" class="crumbs__back">
                    <- вернуться к выбору</a>
            </div>
        </div>
        <div class="audition active">
            <div class="audition__container container">
                <div class="audition__content test-content">
                    {% if not king_of_the_audition %}
                    <div class="audition__title test-title">аудирование</div>
                    <div class="audition__subtitle test-subtitle">
                        вам будет предложено прослушать ряд слов и выбрать то, которое вам кажется подходящим под
                        звучание
                    </div>
                    <div class="audition__block">
                        <div class="audition__proccess"><span id="audition-process"></span>/<span
                                id="audition-last"></span></div>
                        <div class="audition__block-content">
                            <div class="audition__block-content-border bordered">
                                <div class="audition__block-top">
                                    <div class="audition__text audition__item blurred"></div>
                                    <a href="#" class="audition__start audition__item button">прослушать</a>
                                </div>
                                <div class="audition__block-middle">
                                    выберите правильный вариант:
                                </div>
                                <div class="audition__block-bottom">
                                    <a href="#" class="audition__btn audition__item button">

                                    </a>
                                    <a href="#" class="audition__btn audition__item button">

                                    </a>
                                </div>
                            </div>
                            <a href="#" class="audition__next button">
                                <img src="{% static '/icons/arrow-right.svg' %}" alt="arrow">
                            </a>
                        </div>
                    </div>
                    {% else %}
                        <div class="audition__title test-title">Поздравляю <br> Вы выучили все слова</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="result result__audition ">
            <div class="result__container container">
                <div class="result__content test-content">
                    <div class="result__title test-title">ваш результат</div>
                    <div class="result__block">
                        <div class="result__audition-title result__block-title result__audition-title-1">количество
                            правильных ответов:<span class="result__word-count-audition result__word-count">
                                <span id="resultTrueAudition"></span>/<span id="resultAllAudition"></span></span>
                        </div>
                        <div class="result__answer"><span id="resultTrueText"></span></div>
                    </div>
                    <div class="result__buttons">
                        <a href="{% url 'learn_navigations' %}" class="result__btn button">вернуться к выбору</a>
                        <a href="#" class="result__btn result__try button">попробовать еще раз</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <script src="{% static '/js/audition.js' %}"></script>
{% endblock content %}