.content {
    display: flex;
    min-height: 645px;
    grid-gap: 20px;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.left {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 360px;
}

.bubble {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    max-width: calc(100% - 380px);
    min-height: 300px;
}

.left,
.right {
    @media (max-width: 1200px) {
        width: auto;
        max-width: none;
        flex: 1 1 auto;
    }
}

.rightTop {
    border-radius: 30px;
    background: var(--greyColor);
    max-height: 360px;
    height: 100%;
    padding: 0 30px 30px;
    overflow: hidden;

    @media (max-width: 768px) {
        border-radius: 15px;
    }
}

.rightBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--item-bg);
    padding: 20px;
    border-radius: 30px;
    flex: 1 1 auto;

    @media (max-width: 1200px) {
        min-height: 250px;
    }

    @media (max-width: 768px) {
        border-radius: 15px;
    }
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 305px;
    cursor: pointer;

    @media (max-width: 768px) {
        min-height: 205px;
    }
}

.img {
    width: 200px;
    filter: grayscale(1);

    @media (max-width: 1550px) {
        width: 130px;
    }

    @media (max-width: 768px) {
        width: 80px;
    }

    @media (max-width: 576px) {
        width: 60px;
    }

    &.active {
        width: 264px;
        filter: grayscale(0);

        @media (max-width: 1550px) {
            width: 194px;
        }

        @media (max-width: 768px) {
            width: 144px;
        }

        @media (max-width: 576px) {
            width: 104px;
        }
    }
}

.descrText {
    max-width: 675px;
    text-align: center;
}

.description {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.descr {
    margin-left: 12px;
}