{% extends 'learn.html' %}
{% load static %}
{% block content %}

    <div class="wrapper learn-section learn-section-chatbot">
        <div class="crumbs">
            <div class="crumbs__container container">
                <a href="{% url 'learn_navigations' %}" class="crumbs__back">
                    <- вернуться к выбору</a>
            </div>
        </div>
        <div class="chatbot">
            <div class="chatbot__container container">
                <div class="chatbot__content test-content">
                    <div class="chatbot__title test-title">чат-бот</div>
                    <div class="chatbot__subtitle test-subtitle">
                        напишите же ему что-нибудь!
                    </div>
                </div>
                <div class="chatbot__block">
                    <div class="chatbot__block-aside chatbot__block-top">
                        <div class="chatbot__block-aside-content-top">
                            <div class="chatbot__block-title">сообщения бота</div>
                            <div class="chatbot__block-title">ваши сообщения</div>
                        </div>
                    </div>
                    <div class="chatbot__block-middle">
                        <div class="chatbot__item left">
                            <span>Сәлам! Эшләрең ничек? Миңа берәр нәрсә яз.</span>
                        </div>
                    </div>
                    <div class="chatbot__block-aside chatbot__block-bottom">
                        <div class="chatbot__block-aside-content-bottom">
                            <div class="chatbot__block-form">
                                <input type="text" placeholder="введите свое сообщение здесь..." id="message-input">
                                <button type="submit" id="submit-btn"><img src="{% static '/icons/send.svg' %}" alt="send"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/chatbot.js' %}"></script>
{% endblock content %}