.Container {
    max-width: var(--container-width-pc);
    margin: 0 auto;

    @media (max-width: 1550px) {
        padding: 0 50px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 20px;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 10px;
    }
}
