.header {
  margin-top: 100px;
  @media (max-width: 1550px) {
    margin-top: 70px;
  }
  @media only screen and (max-width: 992px) {
    margin-top: 50px;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 35px;
  }
  &__container {
  }
  &__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    grid-gap: 20px;
    margin-bottom: 75px;

    @media (max-width: 576px) {
      margin-bottom: 25px;
    }
    &-fulled {
      margin-bottom: 0;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
      .header__left, .header__right{
        flex: 0 0 24%;
        @media (max-width: 1550px) {
          flex: 0 0 33%;
        }

        @media (max-width: 768px) {
          flex: 1 1 auto;
        }
      }
      .header__right {
        @media (max-width: 1200px) {
          flex: auto;
          width: 100%;
        }
      }
      .header__middle {
        flex: 1;
        @media (max-width: 1550px) {
          flex: 0 0 32%;
        }
        @media (max-width: 1200px) {
          flex: 1;
          margin-right: 0;
        }
        @media (max-width: 768px) {
          flex: auto;
          width: 100%;
          margin-left: 0;
        }
      }
      .header__left {
        flex-direction: column;
        align-items: flex-start;
        &-text {
          margin-top: 65px;
          margin-left: 0;
          @media (max-width: 992px) {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &__left {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &-text {
      font-size: 32px;
      line-height: 38px;
      color: $darkColor;
      max-width: 430px;
      margin-left: 105px;
      @media only screen and (max-width: 992px) {
        margin-left: 60px;
        font-size: 26px;
        line-height: 32px;
      }
      @media only screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 20px;
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
  &__logo {
    width: 274px;
    @media only screen and (max-width: 768px) {
      min-width: 170px;
    }
    @media only screen and (max-width: 576px) {
      min-width: auto;
      width: 170px;
    }
    img {
      @media only screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &__right {
  }

  &__item {

    &-text {
    }
    &-title {
    }
    &-subtitle {
    }
    &-button {
    }
    &-link {
    }
    &-img {

    }
    &-name {
    }
    &-live {
    }
    &-soon {
    }
    &-icon {
    }
  }
}